

html, body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  width:100%;
  
 
}

h1 {
  font-family: 'Amatic SC', cursive;

}

h2 {
  font-family: "Josefin Slab", serif;
}

nav {
  background-color: white;
  font-family: "Josefin Slab", serif;
  font-size: 28px;
}
  .navbar-brand {
    color: black;
    font-size: 28px;
    

    img {
      margin-top: -11px;
    }

    @include media-breakpoint-up(sm) {
      font-size: 28px;

    }
  }
  .navbar-nav {
    padding-top: 8px;
    
    .nav-link {
     
      font-weight: 600;
      margin-left: 16px;
      color: $dark-grey !important;

      @include media-breakpoint-up(sm) {
        margin-left: 48px;
        background-color: black !important;
      }

      &:hover {
        color: $grey;
      }
    }
  }

.flagbutton {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
 
}

.flagbutton:hover{
  cursor:pointer;
}

.flag:hover{
  box-shadow: 3px 3px #DADEDF;
}

.inheritHeightWidth {
  height:100%;
  width:100%;
}

#__nuxt{
  height: 100%;
  width:100%;
}

#__layout {
  height: inherit;
  width: inherit;
}